<app-header></app-header>
<img class="mobilebg" src="assets/mobbg.png" alt="" />
<section id="mobile">
  <div class="top">
    <button class="btn-btn" routerLink="./settings">
      <img src="/assets/back.svg" alt="" />
    </button>
    <div class="top1">
      <h2>FAQ</h2>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">FAQ's</button>
    <div class="dropdown-content">
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">HELP</button>
    <div class="dropdown-content">
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
    </div>
  </div>
</section>


<!-- ---------DESKTOP----------  -->

<section id="desktop">
  <div class="main-container">
  <div class="dropdown">
    <button class="dropbtn">FAQ's</button>
    <div class="dropdown-content">
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
      <div class="box">
        <div class="left">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vel
          saepe ratione quod totam? Ipsa architecto praesentium molestias alias
          at?
        </p>
      </div>
      <div class="right">
        <span>+</span>
      </div>
      </div>
    </div>
  </div>
</div>
</section>

