<section id="mobile">
    <img src="assets/login.svg" alt="">
    <div class="heading">
     <!-- <i class="fa-solid fa-utensils"></i> -->
     <p>SIGN UP</p>
    </div>
    <div class="background">
    <div class="authentication">
<div class="input_container">
    <label for="">Name</label>
    <input type="text">
</div>
<div class="input_container">
    <label for=""> Email Address</label>
    <input type="text">
</div>
<div class="input_container">
    <label for="">Password</label>
    <input type="password">
</div>
<div class="button">

    <button routerLink="./app/login">Create Account</button>
</div>
    </div>
    <p class="condition">Already Have An Account ? <b routerLink="./signIn">Sign In</b></p>
</div>
 </section>



 <!-- --------DESKTOP------- -->

 <section id="desktop">
    <div class="main">
        <div class="auth">
            <div class="input_contain">
                <label for="">Name</label>
                <input type="text">
            </div>
            <div class="input_contain">
                <label for="">Email Address</label>
                <input type="text">
            </div>
            <div class="input_contain">
                <label for="">Password</label>
                <input type="password">
            </div>
            
            <div class="button">
            
                <button routerLink="./signIn">Creat Account</button>
            </div>
                </div>
    </div>
</section>