<div class="sort">
    <button class="cross" (click)="closed.emit(true)">
        <i class="fas fa-times"></i>
    </button>
    <h3>Sort By</h3>
    <hr>
    <mat-radio-group>
        <mat-radio-button value="relevance" color="primary">Relevance</mat-radio-button>
        <mat-radio-button value="rating low to high" color="primary">Rating Low To High</mat-radio-button>
        <mat-radio-button value="rating high to low" color="primary">Rating High To Low</mat-radio-button>
        <mat-radio-button value="delivery time low to high" color="primary">Delivery Time Low To High</mat-radio-button>
        <mat-radio-button value="delivery time to low" color="primary">Delivery Time To Low</mat-radio-button>
        <mat-radio-button value="price low to high" color="primary">Price Low To High</mat-radio-button>
        <mat-radio-button value="price time to low" color="primary">Price Time To Low</mat-radio-button>
    </mat-radio-group>
    <div class="buttonRow">
        <button>Clear All</button>
        <button>Apply</button>
    </div>
</div>