<img class="bgbg" src="/assets/dark-surface.png" alt="">
<app-header></app-header>

<section>
    <div class="main-container">
        <div class="heading"><h3>ALL DISHES</h3></div>
        <div class="main-box" style="margin-top: 4em;">
    <div class="sec-two">
        <div class="left">
        <img src="/assets/burgr.svg" alt="">
    </div>
        <div class="mid">
        <p>Veg Hakka Noodles</p>
        <p>₹65.00</p>
    <span>Chinese, North Indian</span>
    </div>
    <div class="right">
        <div class="h-img">
            <img src="/assets/heart.svg" alt="">
        </div>
        <div class="btn">
            <button class="pm" (click)="minus()">-</button>
            <input type="text" [value]="quantity" />
            <button class="pm" (click)="plus()">+</button>
          </div>

    </div>
      </div>
    <div class="sec-two">
        <div class="left">
        <img src="/assets/burgr.svg" alt="">
    </div>
        <div class="mid">
        <p>Veg Hakka Noodles</p>
        <p>₹65.00</p>
    <span>Chinese, North Indian</span>
    </div>
    <div class="right">
        <div class="h-img">
            <img src="/assets/heart.svg" alt="">
        </div>
        <div class="btn">
            <button class="pm" (click)="minus()">-</button>
            <input type="text" [value]="quantity" />
            <button class="pm" (click)="plus()">+</button>
          </div>

    </div>
      </div>
    <div class="sec-two">
        <div class="left">
        <img src="/assets/burgr.svg" alt="">
    </div>
        <div class="mid">
        <p>Veg Hakka Noodles</p>
        <p>₹65.00</p>
    <span>Chinese, North Indian</span>
    </div>
    <div class="right">
        <div class="h-img">
            <img src="/assets/heart.svg" alt="">
        </div>
        <div class="btn">
            <button class="pm" (click)="minus()">-</button>
            <input type="text" [value]="quantity" />
            <button class="pm" (click)="plus()">+</button>
          </div>

    </div>
      </div>
    <div class="sec-two">
        <div class="left">
        <img src="/assets/burgr.svg" alt="">
    </div>
        <div class="mid">
        <p>Veg Hakka Noodles</p>
        <p>₹65.00</p>
    <span>Chinese, North Indian</span>
    </div>
    <div class="right">
        <div class="h-img">
            <img src="/assets/heart.svg" alt="">
        </div>
        <div class="btn">
            <button class="pm" (click)="minus()">-</button>
            <input type="text" [value]="quantity" />
            <button class="pm" (click)="plus()">+</button>
          </div>

    </div>
      </div>
    <div class="sec-two">
        <div class="left">
        <img src="/assets/burgr.svg" alt="">
    </div>
        <div class="mid">
        <p>Veg Hakka Noodles</p>
        <p>₹65.00</p>
    <span>Chinese, North Indian</span>
    </div>
    <div class="right">
        <div class="h-img">
            <img src="/assets/heart.svg" alt="">
        </div>
        <div class="btn">
            <button class="pm" (click)="minus()">-</button>
            <input type="text" [value]="quantity" />
            <button class="pm" (click)="plus()">+</button>
          </div>

    </div>
      </div>
      <div class="sec-two">
        <div class="left">
        <img src="/assets/burgr.svg" alt="">
    </div>
        <div class="mid">
        <p>Veg Hakka Noodles</p>
        <p>₹65.00</p>
    <span>Chinese, North Indian</span>
    </div>
    <div class="right">
        <div class="h-img">
            <img src="/assets/heart.svg" alt="">
        </div>
        <div class="btn">
            <button class="pm" (click)="minus()">-</button>
            <input type="text" [value]="quantity" />
            <button class="pm" (click)="plus()">+</button>
          </div>

    </div>
      </div>
    <div class="sec-two">
        <div class="left">
        <img src="/assets/burgr.svg" alt="">
    </div>
        <div class="mid">
        <p>Veg Hakka Noodles</p>
        <p>₹65.00</p>
    <span>Chinese, North Indian</span>
    </div>
    <div class="right">
        <div class="h-img">
            <img src="/assets/heart.svg" alt="">
        </div>
        <div class="btn">
            <button class="pm" (click)="minus()">-</button>
            <input type="text" [value]="quantity" />
            <button class="pm" (click)="plus()">+</button>
          </div>

    </div>
      </div>
    </div>
    </div>
      
</section>
