<app-header></app-header>
<section id="mobile">
    <img class="mobilebg" src="assets/mobbg.png" alt="">
<div class="top">
    <button class="btn-btn" routerLink="./">
        <img src="/assets/back.svg" alt="">
    </button>
    <div class="top1">
    <h2>ORDER HISTORY</h2>
</div>
</div>
    <div class="content">
        <div class="first">
            <div class="noodles">
                <img src="/assets/burger.svg" alt="">
            </div>
            <div class="mid-txts">
                <h4>Delivered</h4>
                <span>civil lines , prayagraj
                    </span>
                    <p>32 min</p>
            </div>
            <div class="right">
                <div class="menu-btn">
                    <button>View Menu</button>
                </div>
                <div class="del-btn">
                    <button>Delivered</button>
                </div>

            </div>
        </div>

        <div class="sec">
            <span class="quan">1X</span>
            <span>Veg Hakka Noodles</span>
        </div>
        <div class="third">
            <span>11 Aug 2022 At 7:21 PM</span>
            <span class="price">₹105.00</span>
        </div>
        <div class="fourth">
            <span>Rate</span>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                (200)
              </div>
            <button class="reorder">
                <img src="/assets/rec.svg" alt="">
                Reorder</button>
        </div>
    </div>
    <div class="content">
        <div class="first">
            <div class="noodles">
                <img src="/assets/burger.svg" alt="">
            </div>
            <div class="mid-txts">
                <h4>Delivered</h4>
                <span>civil lines , prayagraj
                    </span>
                    <p>32 min</p>
            </div>
            <div class="right">
                <div class="menu-btn">
                    <button>View Menu</button>
                </div>
                <div class="del-btn">
                    <button>Delivered</button>
                </div>

            </div>
        </div>

        <div class="sec">
            <span class="quan">1X</span>
            <span>Veg Hakka Noodles</span>
        </div>
        <div class="third">
            <span>11 Aug 2022 At 7:21 PM</span>
            <span class="price">₹105.00</span>
        </div>
        <div class="fourth">
            <span>Rate</span>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                (200)
              </div>
            <button class="reorder">
                <img src="/assets/rec.svg" alt="">
                Reorder</button>
        </div>
    </div>
    <div class="content">
        <div class="first">
            <div class="noodles">
                <img src="/assets/burger.svg" alt="">
            </div>
            <div class="mid-txts">
                <h4>Delivered</h4>
                <span>civil lines , prayagraj
                    </span>
                    <p>32 min</p>
            </div>
            <div class="right">
                <div class="menu-btn">
                    <button>View Menu</button>
                </div>
                <div class="del-btn">
                    <button>Delivered</button>
                </div>

            </div>
        </div>

        <div class="sec">
            <span class="quan">1X</span>
            <span>Veg Hakka Noodles</span>
        </div>
        <div class="third">
            <span>11 Aug 2022 At 7:21 PM</span>
            <span class="price">₹105.00</span>
        </div>
        <div class="fourth">
            <span>Rate</span>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                (200)
              </div>
            <button class="reorder">
                <img src="/assets/rec.svg" alt="">
                Reorder</button>
        </div>
    </div>
</section>




<!-- ---------DESKTOP-------------- -->


<section id="desktop">
    <img class="bgbg" src="/assets/dark-surface.png" alt="">
    <h2 class="oh-heading">Order History</h2>
    <div class="main">
        <div class="content">
            <div class="lefttt">
            <div class="first">
                <img src="/assets/burgr.svg" alt="">
            </div>
    
            <div class="sec">
                <p class="quan del">Delivered</p>
                <p class="address">Civil Lines ,Prayagraj <br>32 Min</p>
                <span class="x1">1X Veg Hakka Noodles</span><br>
                <span class="vm">View Menu</span>
            </div>
          
        </div>
        <div class="rightt">
            <div class="ri">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                   
                  </div>
                  <p class="op">Order placed</p>
                  <p class="date">4 August 2022</p>
            </div>
            <div class="le">
                <button class="reorder">
                    <img src="/assets/rec.svg" alt="">
                    Reorder</button>
                    <p>TOTAL</p>
                    <p>₹20.00</p>
            </div>
                </div>
            </div>

            <div class="content-right">
<h2 class="heading-right">Your Favourites</h2>

<div class="box23">
    <img id="oh-bg" src="/assets/or-bg.svg" alt="">
    <div class="conttt">
        <div class="left24">
        <img src="/assets/burgr.svg" alt="" style="margin-top: 1em ;">
    </div>
    <div class="right24">
        <p class="r-food">veg cheese burger</p>
        <p class="txttxt">chinese,north indian</p>
        <p class="txttxt">₹20.00</p>
    </div>
    </div>
</div>
<div class="box23">
    <img id="oh-bg" src="/assets/or-bg.svg" alt="">
    <div class="conttt">
        <div class="left24">
        <img src="/assets/burgr.svg" alt="" style="margin-top: 1em ;">
    </div>
    <div class="right24">
        <p class="r-food">veg cheese burger</p>
        <p class="txttxt">chinese,north indian</p>
        <p class="txttxt">₹20.00</p>
    </div>
    </div>
</div>
<div class="box23">
    <img id="oh-bg" src="/assets/or-bg.svg" alt="">
    <div class="conttt">
        <div class="left24">
        <img src="/assets/burgr.svg" alt="" style="margin-top: 1em ;">
    </div>
    <div class="right24">
        <p class="r-food">veg cheese burger</p>
        <p class="txttxt">chinese,north indian</p>
        <p class="txttxt">₹20.00</p>
    </div>
    </div>
</div>
            </div>
     
        </div>
</section>