<app-header></app-header>
<img class="mobilebg" src="assets/mobbg.png" alt="" />
<section id="mobile">
  <div class="top">
    <button class="btn-btn" routerLink="./settings">
      <img src="/assets/back.svg" alt="" />
    </button>
    <div class="top1">
      <h2>CHANGE NUMBER</h2>
    </div>
  </div>
  <div class="main-container">
  <div class="main">
    <p>You Have Revice OTP On
        Your Old Number</p>

        <div class="boxes">
            <div class="box"><input type="text"></div>
            <div class="box"><input type="text"></div>
            <div class="box"><input type="text"></div>
            <div class="box"><input type="text"></div>
        </div>
        <div class="btnbtn">
            <button>Submit</button>
        </div>
  </div>
</div>
  </section>



  <!-- -----------DESKTOP----------  -->

  <section id="desktop">
    <div class="main-container">
      <div class="main">
        <p>You Have Revice OTP On
            Your Old Number</p>
    
            <div class="boxes">
                <div class="box"><input type="text"></div>
                <div class="box"><input type="text"></div>
                <div class="box"><input type="text"></div>
                <div class="box"><input type="text"></div>
            </div>
            <div class="btnbtn">
                <button>Submit</button>
            </div>
      </div>
    </div>
  </section>
  
