<img class="bgbg" src="/assets/dark-surface.png" alt="">
<div class="main-container">
  <img class="mobilebg" src="assets/mobbg.png" alt="">
  <div class="first-sec">
    <img routerLink="./menu" src="/assets/back.svg" alt="" />
    <h3>Edit Profile</h3>
  </div>

  <div class="container">
    <div class="p-img">
      <div class="pic-bg">
        <img src="/assets/pic-bg.svg" alt="" />
      </div>
      <div class="profile-pic">
        <img src="/assets/prfl.svg" alt="" />
      </div>
    </div>
  </div>

  
  <div class="content">
    <div class="c1">
      <div class="left">
        <p>Name</p>
        <input type="text" placeholder="John Wick" />
      </div>
      <div class="right">
        <button>Change</button>
      </div>
    </div>
    <div class="c1">
      <div class="left">
        <p>Phone Number</p>
        <input type="text" placeholder="6598158729" />
      </div>
      <div class="right">
        <button>Change</button>
      </div>
    </div>
    <div class="c1">
      <div class="left">
        <p>Email Id</p>
        <input type="email" placeholder="JohnWick777@gmail.com" />
      </div>
      <div class="right">
        <button>Change</button>
      </div>
    </div>
    <div class="c1">
      <div class="left">
        <p>Password</p>
        <input type="password" placeholder="******" />
      </div>
      <div class="right">
        <button>Change</button>
      </div>
    </div>

    <div class="btn-btn">
      <button class="save">Save</button>
    </div>
  </div>
</div>
<app-header></app-header>
<div id="desktop">
  <div class="containerr">
    <div class="pp-img">
      <div class="picc-bg">
        <img src="/assets/pic-bg.svg" alt="" />
      </div>
      <div class="profilee-pic">
        <img src="/assets/prfl.svg" alt="" />
      </div>
    </div>
    <div class="editt" style="cursor:pointer ;">
      <i class="fa-solid fa-pen-to-square">&nbsp;&nbsp;</i><span>Edit Profile</span>
  </div>
  </div>
  <div class="cnt">
    <div class="left12">
      <p class="holder">NAME</p>
      <p class="holder">PHONE NUMBER</p>
      <p class="holder">EMAIL ID</p>
      <p class="holder">PASSWORD</p>
    </div>
    <div class="right12">
      <div class="ip">
      <input class="inputss" type="text" placeholder="TRAVIS SCOTT" />
    </div>
    <div class="ip">
      <input class="inputss" type="text" placeholder="9565211651" />
    </div>
    <div class="ip">
      <input class="inputss" type="text" placeholder="travisscott@GMAIL.COM" />
    </div>
    <div class="ip">
      <input class="inputss" type="password" placeholder="**********" />
    </div>
    </div>
  </div>
    <div class="btn-btn btn12">
    <button class="save">Save</button>
  </div>
</div>
