<app-header></app-header>
<img class="bgbg" src="/assets/dark-surface.png" alt="">
<section id="desktop ">
    <!-- <img class="bg-black" src="/assets/drak-surface.jpg" alt=""> -->
    <div id="topbar">
      <div class="icon">
        <i class="fas fa-arrow-left"></i>
      </div>
      <span
        >1 item <br />`
  
        36 min</span
      >
    </div>
    <div class="heading-h">
      <h2 style="    margin-top: 3em;">Select An Address</h2>
    </div>
    <div class="cartPage">
      <div class="cartd">
      
        <div class="boxx2">
            <div class="first1">
              <span>HOME</span>
              <input class="r-btn" type="radio" name="radio">
            </div>
            <div id="secc2">
            <h4 class="name">TRAVIS SCOTT</h4>
            <p class="address">8502 Preston Rd. Inglewood, Maine 98380</p>
            <p>India</p>
            <p>Phone Number: 9669966996</p>
          </div>
          <div class="third3">
            <button class="ed">Deliver Here</button>
            <button class="re">Edit</button>
          </div>
          </div>
        <div class="boxx2">
            <div class="first1">
              <span>OFFICE</span>
              <input class="r-btn" type="radio" name="radio">
            </div>
            <div id="secc2">
            <h4 class="name">KANYE WEST</h4>
            <p class="address">8502 Preston Rd. Inglewood, Maine 98380</p>
            <p>India</p>
            <p>Phone Number: 9669966996</p>
          </div>
          <div class="third3">
            <button class="ed">Deliver Here</button>
            <button class="re">Edit</button>
          </div>
          </div>
      
  </div>
  <div class="sec">
      <div class="desktop">
          <h4>Delivery</h4>
          <span>Delivery Date: 20 April 2022</span>
          <p>30% off Discount</p>
      </div>
      <div class="coupon_code">
        <i class="fas fa-percentage"></i>
        APPLY COUPON CODE
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="billing">
        <b>Billing Details</b>
        <span class="bill">Total items <b>1</b></span>
        <span class="bill">Subtotal <b>₹34.22 </b></span>
        <span class="bill">Delivery Charges <b>₹94.22</b></span>
        <span class="bill coupon">Delivery Charges <b>₹94.22</b></span>
        <span class="bill">taxes and charges<b>₹25.00</b></span>
        <span class="bill paymnen">To Pay<b>₹225.00 </b></span>
        <div class="third3 th3">
          <button class="op">Order placed</button>
          </div>
      </div>
    </div>
  </div>
  </section>
  
  <!-- <div id="address-modal" uk-modal>
    <button>
      <i class="fas fa-times" uk-toggle="target: #address-modal"></i>
    </button>
    <div class="address">
      <p class="select">Select An Address</p>
      <p class="select" style="color: #806959">+ Add Address</p>
      <b>Saved Address</b>
      <p style="color: rgb(155, 155, 155)">Deliver to</p>
      <div class="delivery">
        <i class="fas fa-home"></i>
        <b
          >HOME <br />
          <p>63A/2 mission road stanley road prayagraj, Dwarika Puri</p>
        </b>
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
      <div class="delivery">
        <i class="fas fa-home"></i>
        <b
          >HOME <br />
          <p>63A/2 mission road stanley road prayagraj, Dwarika Puri</p>
        </b>
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
  </div> -->
  
