<app-header></app-header>

<section>
  <img class="mobilebg" src="assets/mobbg.png" alt="">
  <div id="topbar">
    <div class="icon">
      <i class="fas fa-arrow-left"></i>
    </div>
    <span
      >1 item <br />

      36 min</span
    >
  </div>
  <div class="heading-h">
    <h2>CART</h2>
  </div>
  <div class="cartPage">
    <div class="cartd">
    <div id="cart">
      <i class="fas fa-trash"></i>
      <img src="../../../assets/burgr.svg" alt="" />
      <div class="dish">
        <p style="padding: 0; margin: 0;  color: white">
          Delivered
        </p>

        <b>civil lines , prayagraj
          32 min</b>
          <b>1X  Veg Hakka noodles</b>
      </div>
      <div class="add_delete">
        ₹ 45.88
        <button>
          <i class="fas fa-minus"></i>
          Add
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
</div>
<div class="sec">
    <div class="desktop">
        <h4>Delivery</h4>
        <p class="dd">Delivery Date: 20 April 2022</p >
        <p>30% off Discount</p>
    </div>
    <div class="coupon_code">
      <i class="fas fa-percentage"></i>
      APPLY COUPON CODE
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="billing">
      <b>Billing Details</b>
      <span class="bill">Total items <b>1</b></span>
      <span class="bill">Subtotal <b>₹34.22 </b></span>
      <span class="bill">Delivery Charges <b>₹94.22</b></span>
      <span class="bill coupon">Delivery Charges <b>₹94.22</b></span>
      <span class="bill">Taxes and charges<b>₹25.00</b></span>
      <span class="bill paymnen">To Pay<b>₹225.00 </b></span>
      <div class="btnbtnb">
      <button class="ptc">Proceed To Checkout</button>
      </div>
    </div>
    <div class="delivery_details">
      <div class="delivery">
        <i class="fas fa-map-marker-alt"></i>
        <b
          >DELIVERY AT <br />
          <p>World Trade park</p>
        </b>

        <b
          style="color: #806959; margin-left: 40%"
          uk-toggle="target: #address-modal"
          >Change</b
        >
      </div>
      <div class="payment">
        <span>
          <i class="fas fa-money-bill"></i> Payment Using <br />
          <select name="" id="">
            <option>Net Banking</option>
            <option>Upi</option>
            <option>Net Banking</option>
            <option>Net Banking</option>
            <option>Upi</option>
            <option>Net Banking</option>
          </select>
        </span>
        <button>
          <b>₹252.00 <br />Total </b> PLACE ORDER
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</section>

<div id="address-modal" uk-modal>
  <button>
    <i class="fas fa-times" uk-toggle="target: #address-modal"></i>
  </button>
  <div class="address">
    <p class="select">Select An Address</p>
    <p class="select" style="color: #806959">+ Add Address</p>
    <b>Saved Address</b>
    <p style="color: rgb(155, 155, 155)">Deliver to</p>
    <div class="delivery">
      <i class="fas fa-home"></i>
      <b
        >HOME <br />
        <p>63A/2 mission road stanley road prayagraj, Dwarika Puri</p>
      </b>
      <i class="fas fa-edit"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
    <div class="delivery">
      <i class="fas fa-home"></i>
      <b
        >HOME <br />
        <p>63A/2 mission road stanley road prayagraj, Dwarika Puri</p>
      </b>
      <i class="fas fa-edit"></i>
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>
</div>
