<app-header></app-header>

<section id="home">
  <img class="mobilebg" src="assets/mobbg.png" alt="">
  <!-- <div class="search">
    <input type="text" placeholder="Search your favorite dish" />
  </div> -->
  <div class="carousel">
    <div class="uk-position-relative uk-visible-toggle uk-light cK1" tabindex="-1" uk-slider="center: true">
      <div uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
            <li>
              <img routerLink="./app/productpage" src="../../../assets/carasole.png" alt="" />
            </li>
            <li>
              <img routerLink="./app/productpage" src="../../../assets/carasole.png" alt="" />
            </li>
            <li>
              <img routerLink="./app/productpage" src="../../../assets/carasole.png" alt="" />
            </li>
          </ul>

          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>
        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
  <div class="orders">
    <div class="txt-txt">
      <span class="p" style="font-size: 14px ; text-decoration: none;" >STARK'S TOP PICKS FOR YOU </span>
      <span routerLink="./app/menu">SEE ALL</span>
    </div>
    <div class="cards">
      <div class="card">
        <img routerLink="./app/productpage" class="imgimg1" src="/assets/b.svg" alt="">
        <!-- <p>veg cheese burger</p> -->
      </div>
      <div class="card">
        <img routerLink="./app/productpage" class="imgimg1" src="/assets/vhn.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>
      <div class="card">
        <img routerLink="./app/productpage" class="imgimg1" src="/assets/ic.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>
    </div>
  </div>
  <div class="orders">
    <div class="txt-txt">
      <span class="p" style="font-size: 14px ; text-decoration: none;" >STARK'S TOP PICKS FOR YOU </span>
      <span routerLink="./app/menu">SEE ALL</span>
    </div>
    <div class="cards">
      <div class="card">
        <img class="imgimg1" src="/assets/b.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>
      <div class="card">
        <img class="imgimg1" src="/assets/vhn.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>
      <div class="card">
        <img class="imgimg1" src="/assets/ic.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>
    </div>
  </div>
  <div class="orders">
    <div class="txt-txt">
      <span class="p" style="font-size: 14px ; text-decoration: none;" >STARK'S TOP PICKS FOR YOU </span>
      <span routerLink="./app/productpage">SEE ALL</span>
    </div>
    <div class="cards">
      <div class="card">
        <img routerLink="./app/productpage" class="imgimg1" src="/assets/b.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>
      <div class="card">
        <img routerLink="./app/productpage" class="imgimg1" src="/assets/vhn.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>

      <div class="card">
        <img routerLink="./app/productpage" class="imgimg1" src="/assets/ic.svg" alt="">
        <!-- <img src="../../../assets/burger.svg" alt="" />
        <p>veg cheese burger</p> -->
      </div>
    </div>
  </div>
</section>


<!-- -----DESKTOP------ -->

<section id="desktop">
  <img class="bgbg" src="/assets/dark-surface.png" alt="">
  <div class="search">
    <input type="text" placeholder="Search your favorite dish" />
  </div>
  <div uk-slider>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
        <li>
          <img src="../../../assets/carousl.svg" alt="" />
        </li>
        <li>
          <img src="../../../assets/carousl.svg" alt="" />
        </li>
        <li>
          <img src="../../../assets/carousl.svg" alt="" />
        </li>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slider-item="next"></a>
    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>


  <div class="content12">
    <div class="hh">
      <span>stark's top picks for you </span>
      <span class="see-all" routerLink="./app/starkspick">see all</span>
    </div>
    <div class="bcd">
      <img class="imgimg1" src="/assets/b.svg" alt="">
      <img class="imgimg1" src="/assets/vhn.svg" alt="">
      <img class="imgimg1" src="/assets/ic.svg" alt="">
      <img class="imgimg1" src="/assets/b.svg" alt="">
      <img class="imgimg1" src="/assets/vhn.svg" alt="">
      <img class="imgimg1" src="/assets/ic.svg" alt="">
    </div>
  </div>


  <div class="content12">
    <div class="hh">
      <span>stark's popular dishes </span>
      <span class="see-all">see all</span>
    </div>
    <div class="bcd">
      <img class="imgimg1" src="/assets/b.svg" alt="">
      <img class="imgimg1" src="/assets/vhn.svg" alt="">
      <img class="imgimg1" src="/assets/ic.svg" alt="">
      <img class="imgimg1" src="/assets/b.svg" alt="">
      <img class="imgimg1" src="/assets/vhn.svg" alt="">
      <img class="imgimg1" src="/assets/ic.svg" alt="">
    </div>
  </div>
</section>