<app-header></app-header>
<img class="mobilebg" src="assets/mobbg.png" alt="" />
<section id="mobile">
  <div class="top">
    <button class="btn-btn" routerLink="./settings">
      <img src="/assets/back.svg" alt="" />
    </button>
    <div class="top1">
      <h2>CHANGE NUMBER</h2>
    </div>
  </div>
  <div class="main-container">
<div class="maill">
    <p>Enter Your Old Number</p>
    <input type="text" placeholder="8548476969">
</div>
<div class="maill">
    <p>Enter Your New Number</p>
    <input type="text" placeholder="6958471425">
</div>
<div class="btnbtn">
    <button routerLink="./changenum2">Next</button>
</div>
</div>
  </section>


<!-- ---------------DESKTOP--------------------- -->

  <section id="desktop">
    <div class="main-container">
      <div class="maill">
          <p>Enter Your Old Number</p>
          <input type="text" placeholder="8548476969">
      </div>
      <div class="maill">
          <p>Enter Your New Number</p>
          <input type="text" placeholder="6958471425">
      </div>
      <div class="btnbtn">
          <button routerLink="./changenum2">Next</button>
      </div>
      </div>
  </section>

