<section>
    <div class="content">
        <div class="lcontent">
            <h4>Arriving 45 Min</h4>
            <div class="con">
                <div class="left">
                    <img src="/assets/ord.svg" alt="" />
                </div>
                <div class="right">
                    <p>Ordered</p>
                    <span>Fri, 16th jul, 4:30 PM</span>
                </div>
            </div>
            <div class="con">
                <div class="left">
                    <img src="/assets/ord.svg" alt="" />
                </div>
                <div class="right">
                    <p>Ordered</p>
                    <span>Fri, 16th jul, 4:30 PM</span>
                </div>
            </div>
            <div class="con">
                <div class="left">
                    <img src="/assets/ord.svg" alt="" />
                </div>
                <div class="right">
                    <p>Ordered</p>
                    <span>Fri, 16th jul, 4:30 PM</span>
                </div>
            </div>
            <div class="con">
                <div class="left">
                    <img src="/assets/ord.svg" alt="" />
                </div>
                <div class="right">
                    <p>Ordered</p>
                    <span>Fri, 16th jul, 4:30 PM</span>
                </div>
            </div>
            <div class="con">
                <div class="left">
                    <img src="/assets/ord.svg" alt="" />
                </div>
                <div class="right">
                    <p>Ordered</p>
                    <span>Fri, 16th jul, 4:30 PM</span>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.559600194301!2d81.83045971559005!3d25.452983183777903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399acb6e362d4e61%3A0xb2b038716f8d97c0!2sHouse%20Stark%20Cafe!5e0!3m2!1sen!2sin!4v1662921629102!5m2!1sen!2sin"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="rcontent">
            <div class="heading">
                <p>Order ID&nbsp;&nbsp;&nbsp;&nbsp; #112K6</p>
                <span>Delivered</span>
            </div>

            <div class="box">
                <div class="l">
                    <img src="/assets/burger.svg" alt="" />
                </div>
                <div class="r">
                    <p>Panner Butter Masala</p>
                    <div class="clr">
                        <p>₹ 450</p>
                    </div>
                    <button>Write a Review</button>
                </div>
            </div>

            <div class="box1">
                <div class="top">
                    <h4>Delivery</h4>
                </div>
                <div class="midd">
                    <div class="line">
                        <p>Item Total</p>
                        <span>₹40</span>
                    </div>
                    <div class="line g">
                        <p>Discount</p>
                        <span>-₹10</span>
                    </div>
                    <div class="line">
                        <p>Tax</p>
                        <span>₹20</span>
                    </div>
                    <div class="line">
                        <p>Delivery</p>
                        <span>Free</span>
                    </div>
                </div>
                <div class="end">
                    <span>Total</span>
                    <span>₹510</span>
                </div>
            </div>
            <div class="box1">
                <div class="top">
                    <h4>Delivery To</h4>
                </div>
                <div class="sec9">
                    <p>Travis Scott</p>
                    <p>CA 90265, USA</p>
                    <p>10880 Malibu Point, 90265,</p>
                    <p>+31 525-551-555</p>
                </div>
            </div>
        </div>
    </div>
</section>