<section id="mobile">
    <img class="bg" src="assets/login.svg" alt="">
    <div class="heading">
     <!-- <img class="fk" src="assets/fk.svg" alt=""> -->
     <p>SIGN IN</p>
    </div>
    <div class="background">
    <div class="authentication">
<div class="input_container">
    <label for="">Email Address</label>
    <input type="text">
</div>
<div class="input_container">
    <label for="">Password</label>
    <input type="password">
</div>
<p>Forgot Your password ?</p>
<div class="button">

    <button>Sign In</button>
</div>
    </div>
    <p class="condition">Don't Have An Account ? <b routerLink="./signUp">Sign Up</b></p>
</div>
</section>


<section id="desktop">
    <div class="main">
        <div class="auth">
            <div class="input_contain">
                <label for="">Email Address</label>
                <input type="text">
            </div>
            <div class="input_contain">
                <label for="">Password</label>
                <input type="password">
            </div>
            <p>Forgot Your password ?</p>
            <div class="button">
            
                <button routerLink="./">Sign In</button>
            </div>
                </div>
    </div>
</section>