<section>

    <div class="content">
        <div class="first">
            <div class="noodles">
                <img src="/assets/burger.svg" alt="">
            </div>
            <div class="mid-txts">
                <h4>Delivered</h4>
                <span>civil lines , prayagraj
                    </span>
                    <p>32 min</p>
            </div>
            <div class="right">
                <div class="menu-btn">
                    <button>View Menu</button>
                </div>
                <div class="del-btn">
                    <button>Delivered</button>
                </div>

            </div>
        </div>

        <div class="sec">
            <span class="quan">1X</span>
            <span>Veg Hakka Noodles</span>
        </div>
        <div class="third">
            <span>11 Aug 2022 At 7:21 PM</span>
            <span class="price">₹105.00</span>
        </div>
        <div class="fourth">
            <span>Rate</span>
            <button class="reorder">
                <img src="/assets/rec.svg" alt="">
                Reorder</button>
        </div>
    </div>
    <div class="content">
        <div class="first">
            <div class="noodles">
                <img src="/assets/burger.svg" alt="">
            </div>
            <div class="mid-txts">
                <h4>Delivered</h4>
                <span>civil lines , prayagraj
                    </span>
                    <p>32 min</p>
            </div>
            <div class="right">
                <div class="menu-btn">
                    <button>View Menu</button>
                </div>
                <div class="del-btn">
                    <button>Delivered</button>
                </div>

            </div>
        </div>

        <div class="sec">
            <span class="quan">1X</span>
            <span>Veg Hakka Noodles</span>
        </div>
        <div class="third">
            <span>11 Aug 2022 At 7:21 PM</span>
            <span class="price">₹105.00</span>
        </div>
        <div class="fourth">
            <span>Rate</span>
            <button class="reorder">
                <img src="/assets/rec.svg" alt="">
                Reorder</button>
        </div>
    </div>
    <div class="content">
        <div class="first">
            <div class="noodles">
                <img src="/assets/burger.svg" alt="">
            </div>
            <div class="mid-txts">
                <h4>Delivered</h4>
                <span>civil lines , prayagraj
                    </span>
                    <p>32 min</p>
            </div>
            <div class="right">
                <div class="menu-btn">
                    <button>View Menu</button>
                </div>
                <div class="del-btn">
                    <button>Delivered</button>
                </div>

            </div>
        </div>

        <div class="sec">
            <span class="quan">1X</span>
            <span>Veg Hakka Noodles</span>
        </div>
        <div class="third">
            <span>11 Aug 2022 At 7:21 PM</span>
            <span class="price">₹105.00</span>
        </div>
        <div class="fourth">
            <span>Rate</span>
            <button class="reorder">
                <img src="/assets/rec.svg" alt="">
                Reorder</button>
        </div>
    </div>
</section>

