<app-header></app-header>
<div class="main-container">
  <img class="mobilebg" src="assets/mobbg.png" alt="">
  <div class="section-one">
  <img routerLink="./" class="arrow" src="/assets/left.svg" alt="">
  <h2 class="heading">Offers</h2>
</div>
  <div class="head">
    
    <input type="search" placeholder="search your favourite dish">
    <button>
    <p class="txt">Search</p>
  </button>

</div>
<div class="content">
  <div class="one">
  <img src="/assets/offers.svg" alt="">
</div>

<div class="two">
  <p class="light">100% Fresh Food</p>
  <p class="dark">Upto 50% Off On Your First Order</p>
  <button>Order Now</button>
</div>
</div>
<div class="content">
  <div class="one">
  <img src="/assets/offers.svg" alt="">
</div>

<div class="two">
  <p class="light">100% Fresh Food</p>
  <p class="dark">Upto 50% Off On Your First Order</p>
  <button>Order Now</button>
</div>
</div>
<div class="content">
  <div class="one">
  <img src="/assets/offers.svg" alt="">
</div>

<div class="two">
  <p class="light">100% Fresh Food</p>
  <p class="dark">Upto 50% Off On Your First Order</p>
  <button>Order Now</button>
</div>
</div>

  </div>
<!-- --------------DESKTOP------------------------- -->
<app-header></app-header>
  <section id="desktop">
    <img class="bgbg" src="/assets/dark-surface.png" alt="">
    <div class="conte">
    <h2 >OFFERS</h2>
    <div class="conten">
      <div class="boxx">
        <img class="brgr" src="/assets/burgr.svg" alt="">
        <p class="item">Veg Cheese Burger</p>
        <p class="item1">chinese,north indian</p>
        <p class="pricee">₹20.00</p>
        <div class="diss">
        <img src="/assets/discount.svg" alt=""><p class="dis">50% off l Use WELCOMESTARK50</p>
      </div>
      </div>
      <div class="boxx">
        <img class="brgr" src="/assets/burgr.svg" alt="">
        <p class="item">Veg Cheese Burger</p>
        <p class="item1">chinese,north indian</p>
        <p class="pricee">₹20.00</p>
        <div class="diss">
        <img src="/assets/discount.svg" alt=""><p class="dis">50% off l Use WELCOMESTARK50</p>
      </div>
      </div>
      <div class="boxx">
        <img class="brgr" src="/assets/burgr.svg" alt="">
        <p class="item">Veg Cheese Burger</p>
        <p class="item1">chinese,north indian</p>
        <p class="pricee">₹20.00</p>
        <div class="diss">
        <img src="/assets/discount.svg" alt=""><p class="dis">50% off l Use WELCOMESTARK50</p>
      </div>
      </div>
      <div class="boxx">
        <img class="brgr" src="/assets/burgr.svg" alt="">
        <p class="item">Veg Cheese Burger</p>
        <p class="item1">chinese,north indian</p>
        <p class="pricee">₹20.00</p>
        <div class="diss">
        <img src="/assets/discount.svg" alt=""><p class="dis">50% off l Use WELCOMESTARK50</p>
      </div>
      </div>
    </div>
  </div>
  </section>
