<section>
    <div class="main-container">
        <div class="top">
          <button class="b-btn"><img  src="/assets/back.svg" alt=""></button>
        </div>
      
        <div class="content">
          <div class="first-txt">
            <h3>Order Placed</h3>
          </div>
      
          <div class="dish">
            <img src="/assets/food.svg" alt="">
          </div>
      <div class="sec-txt">
          <span>your order has been confirmed</span>
        </div>
        <div class="btn">
          <button>Track Order</button>
        </div>
        </div>
      </div>
    </section>
      
    