<div class="main-container">
    <div class="head">
      <img class="arrow" src="/assets/left.svg" alt="">
      <input type="search" placeholder="Search your favourite Dish">
      <button>
      <p class="txt">Search</p>
    </button>
    </div>
  
  <div class="mid-sec">
    <p>Recent Search</p>
    <button>Clear</button>
  </div>
  
  
    <div class="sec-two">
      <img src="/assets/image 6.png" alt="">
      <p>Veg Hakka Noodles</p>
    </div>
    <div class="sec-two">
      <img src="/assets/image 6.png" alt="">
      <p>Veg Hakka Noodles</p>
    </div>
    <div class="sec-two">
      <img src="/assets/image 6.png" alt="">
      <p>Veg Hakka Noodles</p>
    </div>
    <div class="sec-two">
      <img src="/assets/image 6.png" alt="">
      <p>Veg Hakka Noodles</p>
    </div>
    <div class="sec-two">
      <img src="/assets/image 6.png" alt="">
      <p>Veg Hakka Noodles</p>
    </div>
    <div class="sec-two">
      <img src="/assets/image 6.png" alt="">
      <p>Veg Hakka Noodles</p>
    </div>
  </div>
  