<app-header></app-header>
<div class="main-container">
    <div class="top">
      <button routerLink="./menu" class="b-btn"><img  src="/assets/back.svg" alt=""></button>
      <div class="txt">
      <span>Manage Address</span>
    </div>
    </div>
  
    <div class="content">
      <div class="heading">
        <h5>Select a Default Address</h5>
      </div>
  
      <div class="btn-add">
        <button>+ Add Address</button>
      </div>
  
      <div class="txt2">
        <h5>
          Saved Addresses
        </h5>
      </div>
        <div class="s-add">
          <span>Deliver To</span>
        </div>
          <div class="box">
            <div class="first">
            <img src="/assets/home.svg" alt="">
          </div>
          <div class="second">
            <h5>Home</h5>
            <span>63A/2 mission road stanley road prayagraj,
              Dwarika Puri</span>
          </div>
          <div class="third">
            <button><div class="btnn"></div></button>
          </div>
          </div>
          <div class="box2">
            <div class="first">
            <img src="/assets/home.svg" alt="">
          </div>
          <div class="second">
            <h5>Home</h5>
            <span>63A/2 mission road stanley road prayagraj,
              Dwarika Puri</span>
          </div>
          <div class="third">
            <button><div class="btnn"></div></button>
          </div>
          </div>
        
     
    </div>
    <div class="save-btn">
    <button>Save</button>
  </div>
  
  
  <div class="bg-img">
    <img src="/assets/bg-img.svg" alt="">
  </div>
  </div> 



  <!-- ------------DESKTOP VIEW-------------- -->
  <app-header></app-header>
  <section>
    <div class="head">
      <h2>MANAGE ADDRESS</h2>
    </div>
    <div class="content1">
      <div class="box1">
        <button class="add-btnn">+</button>
        <p class="ana">Add New Address</p>
        
      </div>
      <div class="boxx2">
        <div class="first1">
          <span>HOME</span>
          <input type="radio">
        </div>
        <div id="secc2">
        <h4 class="name">TRAVIS SCOTT</h4>
        <p class="address">8502 Preston Rd. Inglewood, Maine 98380</p>
        <p>India</p>
        <p>Phone Number: 9669966996</p>
      </div>
      <div class="third3">
        <button class="ed">Edit</button>
        <button class="re">Remove</button>
      </div>
      </div>
    </div>
    <div class="btn11">
    <button class="savee">SAVE</button>
  </div>
  </section>
  
  
  
  
