<section id="menu">
    <div class="main-container">
        <div class="heading">
            <h3>Stark’s Top Picks For You </h3>
        </div>
        <div class="main-box">
            <div class="items">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
                padding: 0;
                margin: 0;
                font-size: 8px;
                color: rgb(189, 189, 189);
                font-family: 'Lato';
    
    
              ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa-regular fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="items">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
                padding: 0;
                margin: 0;
                font-size: 8px;
                color: rgb(189, 189, 189);
                font-family: 'Lato';
    
    
              ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa-regular fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="items">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
                padding: 0;
                margin: 0;
                font-size: 8px;
                color: rgb(189, 189, 189);
                font-family: 'Lato';
    
    
              ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa-regular fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ---------desktop-------- -->


<app-header></app-header>
<img class="bgbg" src="/assets/dark-surface.png" alt="">
<section id="desktop">
    <div class="headd">
        <h2>stark’s top picks for you </h2>
        <div class="containerr">

            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa  fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa  fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa  fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa  fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa  fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
            <div class="itemss">
                <div class="item_img">
                    <img src="../../../assets/burger.svg" alt="" />
                </div>
                <div class="item_info">
                    <p style="padding: 0; margin: 0; font-size: 0.9rem; color: white">
                        Veg Hakka noodles
                    </p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        (200)
                    </div>
                    <b>₹ 23</b>
                    <p style="
              padding: 0;
              margin: 0;
              font-size: 8px;
              color: rgb(189, 189, 189);
              font-family: 'Lato';
    
    
            ">
                        chinese,north indian
                    </p>
                </div>
                <div class="add_review">
                    <i class="fa fa-heart ic"></i>
                    <button class="btn2">ADD +</button>
                </div>
            </div>
        </div>
    </div>
</section>